html, body{
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

div.top{
background-image: url("/Users/kameronbanks/Desktop/documents/business website/images/IMG_0224.jpeg");
width: 100%;
height: 10vh;
background-size: cover;

}

ul.top{
  position: sticky;
top:20px;
width: auto;
background-color: green;
padding: 20px;
}

li{
display:inline-block;
color: black;
text-align: center;
text-decoration: none;
background-color: yellow;

}

div.bottom{
background-image: url('/Users/kameronbanks/Desktop/documents/business website/images/Photo on 2-27-20 at 5.54 PM.jpg');
width: 100%;
height: 100vh;
background-size: cover;
}
gyygy
